<div class="well">

	<div id="country_title">
	 	<span>Shreenandan Kumar</span>
	</div>
	<div class="text-center">
		Software Developer at <a href="www.rubyeffect.com/"> RubyEffect</a>, hyderabad. <br>
	</div>
	<br><br><br>
	<div>
	 <span><b>What i am ?</b></span><br>
	 <span>Ans: cool, chilled, arrogant and happy :)</span><br><br>
	 <span><b>What i do ?</b></span><br>
	 <span>Ans: enjoy work, eat/party like animal, travel seeking adventure and sleep like baby</span><br><br>
	 <span><b>What i want ?</b></span><br>
	 <span>Ans: Happiness, peace and chiken (roasted) </span><br><br>
	 <span><b>Any Dream ?</b></span><br>
	 <span>Ans: yes, that's secret. </span><br><br>
	 <pre>
	 <span><b>Any inspirations ?</b></span>
	 <a href="https://en.wikipedia.org/wiki/Salman_Khan"><span>Salman khan</span></a>
	 <span>   -- respect humans(@being human)</span>
	 </pre>
	</div>
</div>