<div class="well">

	<div id="country_title">
	 	<span>Bangalore</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I came Bangalore to start my professional career.</b> Bangalore is the capital of the Indian state of Karnataka. Bangalore is known for its pleasant climate throughout the year. Bangalore is known as the "Silicon Valley of India" (or "IT capital of India") because of its role as the nation's leading information technology (IT) exporter.</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bangalorerail.jpg" alt="railway station" width="200" height="200">
		<span>Railway staion</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bangaloresonyworld.jpg" alt="sonyworld" width="200" height="200">
		<span>I lived here(Sony world signal)</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bangalorelal.jpg" alt="lal bagh" width="200" height="200">
		<span>Lal Bagh</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bangaloreairport.jpg" alt="Airport" width="200" height="200">
		<span>Airport</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>I got my job (@RubyEffect) here. </b></p><br>

		<div class="row text-center">
		<div class="col-sm-3">
		<img class="img-responsive" src="bangalorecity.jpg" alt="city" width="250" height="250">
		<span>Bangalore City</span>	
		</div>	
		<div class="col-sm-3">
		<img class="img-responsive" src="bangalorev.jpg" alt="vidhan sabha" width="250" height="250">
		<span>Vidhan Sabha </span>	
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="bangalorewtc.jpg" alt="wtc" width="250" height="250">
		<span>World Trade Center</span>
		<br>
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="bangaloreuvcity.jpg" alt="Uv city" width="250" height="250">
		<span>UV City</span>	
		</div>
		</div>
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Bangalore"> To know more about Bangalore. please click me...</a>
	</div>
	
</div>