<div class="well">

	<div id="country_title">
	 	<span>Bhubaneswar</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>This is the place where i did my graduation.</b> Bhubaneswar is the capital of the Indian state of Odisha. Bhubaneswar is often referred to as a 'Temple City of India' and with Puri and Konark it forms the Swarna Tribhuja ("Golden Triangle"), one of eastern India's most visited destinations</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bhubaneswarr.jpg" alt="railway station" width="200" height="200">
		<span>Railway staion</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bhubeach.jpg" alt="puri" width="200" height="200">
		<span>Puri beach</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bhupark.jpg" alt="zoo" width="200" height="200">
		<span>Nandankanan Zoo</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bhukonark.jpg" alt="Temple" width="200" height="200">
		<span>Konark Temple</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>I completed my engineering from <a href="www.kiit.ac.in/">Kallinga Institute of Industrial Technology (KIIT University)</a> , bhubaneswar.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-3">
		<img class="img-responsive" src="bhukiit.jpg" alt="Kiit University" width="250" height="250">
		<span>KIIT University</span>	
		</div>	
		<div class="col-sm-3">
		<img class="img-responsive" src="bhucomp.jpg" alt="stadium" width="250" height="250">
		<span>Computer Scicence Department</span>	
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="hostel.jpg" alt="stadium" width="250" height="250">
		<span>My Hostel</span>
		<br>
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="bhubazar.jpg" alt="stadium" width="250" height="250">
		<span>Big Bazaar</span>	
		</div>
		</div>
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Bhubaneswar"> To know more about bhubaneswar. please click me...</a>
	</div>
	
</div>