<div class="well">

	<div id="country_title">
	 	<span>Birgunj</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>This is my birth place.</b> Birgunj, the largest in the Narayani Zone, is a multilingual and multiethnic city. The 300,000 population comprises various ethnic groups, the largest being the Tharus. A large number of people are of Indian origin having migrated mostly from Bihar and Rajasthan. Several languages are spoken in the town including Bhojpuri, Nepali, Maithili, Newari, Marwari and Hindi.</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="gateway.jpg" alt="gateway of nepal" width="200" height="200">
		<span>Gateway of Nepal</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="gg.jpg" alt="clock tower" width="200" height="200">
		<span>Clock tower </span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="gp.jpg" alt="sun temple" width="200" height="200">
		<span>Sun Temple</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bb.jpg" alt="buddha vihar" width="200" height="200">
		<span>Buddha Vihar</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>I completed my 10th from Miniland English Secondary School, 12th from National infotech Higher Secondary School.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-4">
		<img class="img-responsive" src="manish.jpg" alt="Principal" width="250" height="250">
		<span>My +2 Principal (Mr. Manish Singh)</span>	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="football.jpg" alt="stadium" width="250" height="250">
		<span>Our Football Staduim</span>	
		</div>
		<div class="col-sm-4">
		<img class="img-responsive" src="nmc.jpg" alt="stadium" width="250" height="250">
		<span>National Medical College</span>	
		</div>		
		</div>
		<br>	
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Birgunj"> To know more about Birgunj. please click me...</a>
	</div>
	
</div>