<div class="well">

	<div id="country_title">
	 	<span>Shreenandan Kumar</span>
	</div>
	<div class="text-center">
		Software Developer at <a href="www.rubyeffect.com/"> RubyEffect</a>, hyderabad. <br>
	</div>
	<br><br><br>
	<div>
	 <pre>
<span><b>Catch me on any of these</b></span><br>
	 <a href="https://www.facebook.com/shreenandan.kumar", target="_blank"><span>Facebook</span></a>
	 	    <a href="https://twitter.com/shreenandankiit", target="_blank">Twitter</a>
	 			<a href="https://in.linkedin.com/in/shreenandan-kumar-b0515964", target="_blank">Linkedin</a>
	 				     <a href="https://github.com/shreek271", target="_blank">Github</a>

<span>Email: shree.k271@gmail.com</span>
       <span>shreenandan@rubyeffect.com</span>
	 </pre>
	</div>
</div>