<div class="well">

	<div id="country_title">
	 	<span>Hyderabad</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I work here (@rubyEffect).</b> Hyderabad is the capital of the southern Indian state of Telangana and de jure capital of Andhra Pradesh.</p><br>
		<div class="row">
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="hyderabadairport.jpg" alt="Airport" width="250" height="250">
		<span>Rajiv Gandhi Intenational Airport</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="hyderabadhitech.jpg" alt="Hitechcity" width="250" height="250">
		<span>Hightech City</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="hyderabadmall.jpg" alt="Mall" width="250" height="250">
		<span>Inorbit Mall</span>	
		</div>
		</div>
		<br>
		<br>
		<p><b>Love the language (hyderabadi hindi) spoken here. </b></p><br>

		<div class="row text-center">
		<div class="col-sm-4">
		<img class="img-responsive" src="hyderabadbtr.jpg" alt="Park" width="250" height="250">
		<span>NTR Gardens</span>	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="hyderabadbt.jpg" alt="Temple" width="250" height="250">
		<span>Buddha Temple</span>	
		</div>
		<div class="col-sm-4">
		<img class="img-responsive" src="hyderabadcharminar.jpg" alt="Chaar Minar" width="250" height="250">
		<span>Chaar Minar</span>
		</div>
		</div>
		<div class="row text-center" >
		<div class="col-sm-4">
		<img class="img-responsive" src="hyderabadg.jpg" alt="Golkonda Fort" width="250" height="250">
		<span>Golkonda Fort</span>	
		</div>
		<div class="col-sm-4">
		<img class="img-responsive" src="hyderabadbirla.jpg" alt="Temple" width="250" height="250">
		<span>Birla Temple</span>
		</div>
		</div>
		
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Hyderabad"> To know more about Hyderabad. please click me...</a>
	</div>
	
</div>