<div class="well">

	<div id="country_title">
	 	<span>Kathmandu</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p>Kathmandu is the capital and largest municipality of Nepal.Kathmandu is the gateway to tourism in Nepal. It is also the hub of the country's economy. Most of Kathmandu's people follow Hinduism and many others follow Buddhism. Nepali is the most commonly spoken language in the city.</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="pt.jpg" alt="Mountail" width="200" height="200">
		<span>Pashupatinath temple</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="kt.jpg" alt="Lake" width="200" height="200">
		<span>Krishna temple</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="hd.jpg" alt="Cave" width="200" height="200">
		<span>Hanuman Dhoka</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="dt.jpg" alt="Temple" width="200" height="200">
		<span>Dharahara Tower</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>I went to kathmandu after my 12th and this is what i have experienced. It's the best place i have been to till date...</b></p><br>

		<div class="row text-center">
		<div class="col-sm-3">
		<img class="img-responsive" src="bagmati.jpg" alt="River" width="250" height="250">
		<span>Holi Bagmati River</span>	
		</div>	
		<div class="col-sm-3">
		<img class="img-responsive" src="ranipokhari.jpg" alt="Rani Pokhari" width="250" height="250">
		<span>Rani Pokhari</span>	
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="tudikhel.jpg" alt="Tundikhel" width="250" height="250">
		<span>Tundikhel</span>	
		<br>
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="cb.jpg" alt="Swinging bridge" width="250" height="250">
		<span>Swinging bridge</span>	
		</div>
		</div>
		<br><br>	
		<div class="row text-center">
		<div class="col-sm-3">
		<img class="img-responsive" src="wtc.jpg" alt="WTC" width="250" height="250">
		<span>United World Trade Centre</span>	
		</div>	
		<div class="col-sm-3">
		<img class="img-responsive" src="civilmall.jpg" alt="Mal" width="250" height="250">
		<span>Civil Mall</span>	
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="ktmnight.jpg" alt="city" width="250" height="250">
		<span>Night View</span>	
		</div>	
		<div class="col-sm-3">
		<img class="img-responsive" src="airport.jpg" alt="Airport" width="250" height="250">
		<span>Tribhuwan Intl Airport</span>	
		</div>		
		</div>
		<br><br>
		<div class="row text-center">
		<div class="col-sm-3">
		<img class="img-responsive" src="s1.jpg" alt="Shiv" width="250" height="250">
		<span>Shiv statue</span>	
		</div>
		<div class="col-sm-3">
		<img class="img-responsive" src="rp.jpg" alt="Ratna Park" width="250" height="250">
		<span>Ratna Park</span>	
		</div>		
		</div>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Kathmandu"> To know more about Kathmandu. please click me...</a>
	</div>
	
</div>