<div class="well">

	<div id="country_title">
	 	<span>Kochi</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I visited Kochi for my <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=7275846&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D7275846">paper</a> presentation at <a href="www.scmsgroup.org/">SCMS college</a>.</b> Kochi is a major port city on the south-west coast of India by the Arabian Sea and is part of the district of Ernakulam in the state of Kerala. It is often called Ernakulam, which refers to the mainland part of the city.</p><br>
		<div class="row"> 
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="kochir.jpg" alt="railway station" width="250" height="250">
		<span>Railway staion</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="scms.jpg" alt="college" width="250" height="250">
		<span>SCMS College</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="onam sadya.jpeg" alt="food" width="250" height="250">
		<span>Onam Sadya (Superb food)</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>Superb place for a holiday tour.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-offset-2 col-sm-4">
		<img class="img-responsive" src="ontheway.jpg" alt="On the way" width="300" height="200">
		<span>PIC(from train, on the way to kochi)</span>	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="mahnamiheritagehotel.jpg" alt="hotel" width="300" height="200">
		<span>Mahnami Heritage hotel (I stayed here)</span>	
		</div>
		</div>
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Kochi"> To know more about Kochi. please click me...</a>
	</div>
	
</div>