<div class="well">

	<div id="country_title">
	 	<span>Kolkata</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I usually have a short stay at kolkata (6hrs - 10hrs).</b> Kolkata is the capital of the Indian state of West Bengal.</p><br>
		<div class="row">
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="kolkatas.jpg" alt="railway station" width="250" height="250">
		<span>Howrah station</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="kolkatab.jpg" alt="howrah bridge" width="250" height="250">
		<span>Howrah Brigde</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="kolkataa.jpg" alt="Aquatica" width="250" height="250">
		<span>Water Park(Aquatica)</span>	
		</div>
		</div>
		<br>
		<br>
		<p><b>The first visit (Aquatica) was with friends.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-4">
		<img class="img-responsive" src="kolkatadurga.jpg" alt="festival" width="250" height="250">
		<span>Durga Puja festival</span>	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="kolkatah.jpg" alt="high court" width="250" height="250">
		<span>High Court</span>	
		</div>
		<div class="col-sm-4">
		<img class="img-responsive" src="kolkatas1.jpg" alt="Railway Station" width="250" height="250">
		<span>Sealdah Railway Station</span>
		</div>
		</div>
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Kolkata"> To know more about Kolkata. please click me...</a>
	</div>
	
</div>