<div class="well">

	<div id="country_title">
	 	<span>Patna</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I have been to patna many times.</b> Patna is the capital and largest city of the state of Bihar in India. Patna is the second largest city in eastern India after Kolkata. It had an estimated population of 1.68 million in 2011, making it the 19th largest city in India.</p><br>
		<div class="row">
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="patnarail.jpg" alt="Railway station" width="250" height="250">
		<span>Railway Station</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="pht.jpg" alt="Temple" width="250" height="250">
		<span>Mahabir Temple</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="gmr.jpg" alt="Gandhi maidan" width="250" height="250">
		<span>Gandhi Maidan Road</span>
		</div>
		</div>
		<br>
		<br>
		<div class="row text-center">
		<div class="col-sm-4">
		<img class="img-responsive" src="patnat.jpg" alt="Temple" width="250" height="250">
		<span>Maharani temple (Barhaiya)</span>	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="ptanamall.jpg" alt="Mall" width="250" height="250">
		<span>Central mall</span>	
		</div>
		<div class="col-sm-4 text-center">
		<img class="img-responsive" src="pp.jpg" alt="Planeteterium" width="250" height="250">
		<span>Planeterium</span>	
		</div>		
		</div>
		<br>	
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Birgunj"> To know more about Birgunj. please click me...</a>
	</div>
	
</div>