<div class="well">

	<div id="country_title">
	 	<span>Pokhara</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p>Pokhara is a Metropolitan and second largest city of Nepal after Kathmandu as well as the headquarters of Kaski District, Gandaki Zone and the Western Development Region. It has the population of about 3.5 lakh.</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="mc.jpg" alt="Mountail" width="200" height="200">
		<span>Machapuchhre Mountain</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="pl.jpg" alt="Lake" width="200" height="200">
		<span>Phewa lake</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="maca.jpg" alt="Cave" width="200" height="200">
		<span>Mahendra cave</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="bt.jpg" alt="Temple" width="200" height="200">
		<span>Bindhyabasini temple</span>
		</div>
		</div>
		<br>
		<br>
		<p><b>I visited Pokhara during the college Tour.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-4">
		<img class="img-responsive" src="market.jpg" alt="Market" width="250" height="250">	
		</div>	
		<div class="col-sm-4">
		<img class="img-responsive" src="mk2.jpg" alt="Market" width="250" height="250">	
		</div>
		<div class="col-sm-4">
		<img class="img-responsive" src="mk3.jpg" alt="Market" width="250" height="250">	
		</div>	
		<span>Market</span>	
		</div>
		<br>	
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Pokhara"> To know more about Pokhara. please click me...</a>
	</div>
	
</div>