<div class="well">

	<div id="country_title">
	 	<span>Pune</span>
	</div>
	<br>
	<div class="text-justify" id="description"> 
		<p><b>I visited pune for an interview (@ZS_Associates).</b> Pune is the 9th most populous city in India and the second largest in the state of Maharashtra after the state capital Mumbai.</p><br>
		<div class="row">
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="punea.jpg" alt="Airport" width="200" height="200">
		<span>Airport</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="seasons.jpg" alt="Mall" width="200" height="200">
		<span>Seasons Mall</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="punezs.jpg" alt="Zs" width="200" height="200">
		<span>Zs Associates Office</span>	
		</div>
		<div class="col-sm-3 text-center">
		<img class="img-responsive" src="punecity.jpg" alt="Pentaloons" width="200" height="200">
		<span>Pantaloons</span>
		</div>
		</div>
		<br>
		<p><b>Nice place to live.</b></p><br>

		<div class="row text-center">
		<div class="col-sm-offset-2 col-sm-8">
		<img class="img-responsive" src="punem.jpg" alt="Magarpatta city" width="500" height="250">
		<span>Magarpatta city</span>	
		</div>	
		</div>
		<br><br>		
	</div>

	<div class="text-center">
	 <a href="https://en.wikipedia.org/wiki/Pune"> To know more about pune. please click me...</a>
	</div>
	
</div>