@import "bootstrap-sprockets";
@import "bootstrap";


#header{
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	background-color: #E6ECEC;
}


#page{
	width: 100%;
  margin-top: 1em;
  #sidebar{
  width: 20%;
  float:left;
  a{
  font-weight: 700;
  font-size: 1em;
   }
  }
 #main_body{
	width:80%;
	float: right;
	padding-left: 2em;
 }
}

#chapter{
	#intro{
		font-size: 1.2em;
		margin-top: 30px;
	}

	#title{
	font-weight: 600;
	font-size: 1em;
	.well{
	width: 70%;
	margin-top: 2em;
	#country{
	padding-left:10px;
	font-size: 1.2em;
	}
	a{
	padding-left:15px;
	text-decoration: none;
	}
	} 
	}
}

.well{
width: 80%;
	#country_title{
		font-size: 1.2em;
		font-weight: 600;
		padding-left: 40%;
		margin-top: 15px;
	}

	#description{
		
	}
	
}

mark,.mark{
	background-color: blueviolet;
}
